*{
    margin:0;
    padding:0;
}
body{
    background-image:  url('img/fundo1.png');
}
a{
    color: #ffffff;
    text-decoration:none;
    transition:0.3s;
}
a:hover{
    opacity:0.9;
}
.logo{
    front-size:24px;
    text-transform:uppercase;
    letter-spacing:5px;
}
nav{
    display:flex;
    justify-content: space-around;
    aling-itens:center;
    front-family:system-ul;-apple-system,helvetica,arial,sans-serif;
    background:#04071a;
    height: 4vh;
}
main{
    background:url()no repeat
    center center;
    background-size:cover;
    height:92vh;
}
.nav-list{
    list-style:nome;
    display:flex;
}
.nav-list li{
    letter-spacing:3px;
    margin-left:32px;
}
.mobile-menu{
display:none;
    couser:pointer;
}
.mobile-menu div{
    width:32px;
    height:12px;
    background:#fff;
    margin:4px;
}
#media(max-width:999px){
body{
    overflow-x:hidden;
    }
    .nav-list{
        position:absolute;
        top:8vh;
        right:0;
        width:30vw;
        height:92vh;
        background:#000311;
        flex-direction:column;
        aling-itens:center;
        justify-content: space-around;
        transform: translateX(100%);
    }
    .nav-list li{
        margin-left:0;
        opacity:0;
    }
    .mobile-menu{
        display:block;
    }
}
.nav-list.active{
    transform: translateX(100%);
}


#title{
   font-size: 300%;
}
p{
  position: relative;
  left: 25px;
}
h5{
  position: relative;
  left: 25px;
}

h1{
  color: white;
  text-align: center;
}

table, th, td{
border: 1px solid#333;
border-collapse: collapse;
height: 10px;
width: 500px;
color: black;
}

table{
  position: relative;
left: 25px;
}

#dov{
 float: left;
  justify-content: center;
}


#e{
display: flex;
justify-content: center;
}
.city {
  background-color: LightGray;
  color: black;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
.imgc{
  display: flex;
  justify-content: center;
}

#texto-normal{
  color: white;
  text-align: left;
}
h3{
  position: relative;
  left: 25px;
